/laboratorio1/nbproject/private/
/probelama1/nbproject/private/
/probelama1/build/
/problema2/nbproject/private/
/problema2/build/
/Probelma3/nbproject/private/
/Probelma3/build/
/Problema4/nbproject/private/
/Probelama4/nbproject/private/
/Probelama4/build/
/Problema3/build/
/Problema3/nbproject/private/
/problema1/build/
/problema1/nbproject/private/